<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>
            Wallet no <%=wallet.no%>
        </h1>
        <div>
            amount: <%=wallet.amount%><br>
            ownr: <%=wallet.ownr.name%> <%=wallet.ownr.family%>
        </div>
        <h1>
            Payout
        </h1>
        <form action="/payout" method="post">
            <input hidden name="account[no]" value='<%=wallet.no%>'>
            amount: <input name="amount">
            <input type="submit">
        </form>

        <h3>
            Payouts history (last 30 days)
        </h3>
        <%if(wallet.payouts){
        for(key in wallet.payouts){%>
        <div> 
            <%=wallet.payouts[key].amount%> in <%=new Date(wallet.payouts[key].time)%>
        </div>
        <%}
        }%>

    </body>
</html>
