<% layout('layout') -%>


<div class="inner cover">
    <div class="bg-white">
        <div id="qr-container"></div>
    </div>
    <p class="lead">Wallet №: <strong><%=wallet.no%></strong></p>
    <p class="lead">Ownr: <%=wallet.ownr.name%> <%=wallet.ownr.family%></p>
    <h2 class="text-info"><%=wallet.amount%> sum</h2>
    <p class="lead"><a href="/history/<%=wallet.no%>">History</a></p>
    <form action="/payout" method="post" class="form-inline">
        <div class="form-group">
            <input hidden  name="account[no]" type="text" value="<%=wallet.no%>">
            <input class="form-control" name="amount" type="number" max="500000" min="1">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                Payout
            </button>
        </div>
    </form>
</div>
<script src="https://cdn.paycom.uz/integration/js/checkout.min.js"></script>

<script>
    document.body.onload = function(){Paycom.QR('#form-payme', '#qr-container');};
</script>



<form class="hide" id="form-payme" method="POST" action="https://test.paycom.uz/">
    <input type="hidden" name="merchant" value="5ad72a742b9cc17e5ee1b78a">
    <input type="hidden" name="account[order_id]" value="197">
    <input type="hidden" name="amount" value="500">
    <input type="hidden" name="lang" value="ru">
    <input type="hidden" name="qr" data-width="250">
</form>




