<% layout('layout') -%>


<div class="inner cover">
    <p class="lead">Wallet no <strong><%=wallet.no%></strong></p>
    <p class="lead">Ownr: <%=wallet.ownr.name%> <%=wallet.ownr.family%></p>
    <h2><%=wallet.amount%> sum</h2>
    <p class="lead"><a href="/history/<%=wallet.no%>">History</a></p>
    <form action="/payout" method="post" class="form-inline">
        <div class="form-group">
            <input hidden  name="account[no]" type="text" value="<%=wallet.no%>">
            <input class="form-control" name="amount" type="number" max="500000" min="1">
        </div>
        <div class="form-group">
            <button class="btn btn-default">
                Payout
            </button>
        </div>
    </form>
</div>





